In [1]:
import dash
from dash import dcc, html
from dash.dependencies import Input, Output, State
import plotly.express as px
import pandas as pd
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
import sys
import plotly.graph_objects as go
import json
import dash_bootstrap_components as dbc
from dash import dash_table
import numpy as np

In [2]:
def create_connection():
    return create_engine('postgresql://postgres:SDIBD2023$@10.0.1.230:5433/dbcafae')

In [3]:
def fetch_data():
    engine = create_connection()
    with engine.connect() as conn:
        query = f"""
              SELECT * FROM cab_acta	

       
        """
        result = pd.read_sql(query, conn)
    return result


def fetch_data2():
    engine = create_connection()
    with engine.connect() as conn:
        query = f"""
              SELECT * FROM eleccion	

       
        """
        result = pd.read_sql(query, conn)
    return result


def fetch_data3():
    engine = create_connection()
    with engine.connect() as conn:
        query = f"""
              SELECT * FROM ubigeo	

       
        """
        result = pd.read_sql(query, conn)
    return result


def fetch_data4():
    engine = create_connection()
    with engine.connect() as conn:
        query = f"""
              SELECT * FROM ubieleccion	

       
        """
        result = pd.read_sql(query, conn)
    return result

In [4]:
cab_acta=fetch_data()
eleccion=fetch_data2()
ubigeo=fetch_data3()
ubieleccion=fetch_data4()

In [5]:
ubieleccion

    n_cod_pk  n_ubigeo_fk  n_eleccion_fk n_estado
0        722         1945              1        1
1        723         1945              2        1
2        724          616              1        1
3        725          616              2        1
4        726         1359              1        1
5        727         1359              2        1
6        728         1679              1        1
7        729         1679              2        1
8        730         1741              1        1
9        731         1741              2        1
10       732         1756              1        1
11       733         1756              2        1
12       734         1976              1        1
13       735         1976              2        1
14       736         1780              1        1
15       737         1780              2        1
16       738         1185              1        1
17       739         1185              2        1
18       740         1851              1        1
19       741         1851              2        1
20       742         2063              1        1
21       743         2063              2        1
22       744         2019              1        1
23       745         2019              2        1
24       746         2096              1        1
25       747         2096              2        1
26       748         2122              1        1
27       749         2122              2        1
28       750         2393              1        1
29       751         1455              1        1
30       752         1455              2        1
31       753         2394              1        1
32       754         2114              1        1
33       755         2395              1        1
34       696         1497              1        1
35       697         2392              1        1
36       698          503              1        1
37       699          503              2        1
38       700           52              1        1
39       701           52              2        1
40       702          405              1        1
41       703          405              2        1
42       704          497              1        1
43       705          497              2        1
44       706          196              1        1
45       707          196              2        1
46       708          708              1        1
47       709          708              2        1
48       710          849              1        1
49       711          849              2        1
50       712          975              1        1
51       713          975              2        1
52       714         1083              1        1
53       715         1083              2        1
54       716           53              1        1
55       717           53              2        1
56       718          567              1        1
57       719          567              2        1
58       720          789              1        1
59       721          789              2        1

In [6]:
cab_acta

,n_cod_pk,c_numero,n_archivo_fk,c_estado_digtal,n_usuario_fk,n_ubigeo_fk,n_cvas,n_elec_habil,c_desc_observacion,n_total_votos,...,c_error_mat_ap_7,c_error_mat_ap_8,c_error_mat_ap_9,c_error_mat_ap_10,c_error_mat_ap_11,n_error_ile,n_error_inp,n_error_fir,n_error_mat,d_fecha_separa
0,1700,021101R,None,0,None,731,None,271,None,0,...,None,None,None,None,None,None,None,None,None,None
1,1696,022902R,None,0,None,729,None,402,None,0,...,None,None,None,None,None,None,None,None,None,None
2,1699,021101N,None,0,None,730,None,271,None,0,...,None,None,None,None,None,None,None,None,None,None
3,1708,022201R,None,0,None,737,None,522,None,0,...,None,None,None,None,None,None,None,None,None,None
4,1712,021601R,None,0,None,739,None,627,None,0,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,1639,022501N,None,0,None,712,None,358,None,0,...,None,None,None,None,None,None,None,None,None,None
207,1640,022501R,None,0,None,713,None,358,None,0,...,None,None,None,None,None,None,None,None,None,None
208,1641,022101N,None,0,None,714,None,300,None,0,...,None,None,None,None,None,None,None,None,None,None
209,1642,022101R,None,0,None,715,None,300,None,0,...,None,None,None,None,None,None,None,None,None,None
210,1643,022102N,None,0,None,714,None,300,None,0,...,None,None,None,None,None,None,None,None,None,None

In [7]:
eleccion= eleccion.rename(columns={'n_cod_pk':'n_eleccion_fk'})
ubigeo=ubigeo.rename(columns={'n_cod_pk':'n_ubigeo_fk'})

In [8]:
merge1= pd.merge(ubieleccion,eleccion[['n_eleccion_fk','c_descripcion']], on='n_eleccion_fk', how='left')
dim = pd.merge(merge1,ubigeo[['n_ubigeo_fk','c_desc_ubigeo']],on='n_ubigeo_fk',how='left')

In [9]:
dim=dim.rename(columns={'n_cod_pk':'n_ubigeo_fk','n_ubigeo_fk':'ubigeo'})

In [10]:
tab_cab_acta=pd.merge(cab_acta,dim[['n_ubigeo_fk','c_descripcion','c_desc_ubigeo']],how='left',on='n_ubigeo_fk')

In [11]:
tab_cab_acta['c_estado_digtal']=tab_cab_acta['c_estado_digtal'].astype(int)

In [12]:
# Función que aplica varias condiciones
def aplicar_condiciones(row):
    if row['c_estado_digtal'] == 0:
        return 'NO TIENE IMAGEN'
    elif row['c_estado_digtal'] == 1:
        return 'IMAGEN REGISTRADA'
    elif row['c_estado_digtal'] == 2:
        return 'IMAGEN OBSERVADA'
    elif row['c_estado_digtal'] == 3:
        return 'IMAGEN REGISTRADA'
    elif row['c_estado_digtal'] ==4:
        return 'IMAGEN REGISTRADA'
    elif row['c_estado_digtal'] ==5:
        return 'IMAGEN REGISTRADA'
    
def aplicar_condiciones2(row):
    if row['c_estado_digtal'] == 0:
        return 'NO LO VE'
    elif row['c_estado_digtal'] == 1:
        return 'PENDIENTE DE DIGITACION'
    elif row['c_estado_digtal'] == 2:
        return 'IMAGEN OBSERVADA'
    elif row['c_estado_digtal'] == 3:
        return 'COMPLETADA'
    elif row['c_estado_digtal'] ==4:
        return 'OBSERVADA'
    elif row['c_estado_digtal'] ==5:
        return 'COMPLETADA'

def aplicar_condiciones3(row):

    if row['c_estado_digtal'] == 3:
        return 'COMPLETADA'
    elif row['c_estado_digtal'] ==4:
        return 'OBSERVADA'
    elif row['c_estado_digtal'] ==5:
        return 'COMPLETADA'
    else:
        return ""

In [13]:
tab_cab_acta['DIGITALIZACION'] = tab_cab_acta.apply(aplicar_condiciones, axis=1)
tab_cab_acta['DIGITACION'] = tab_cab_acta.apply(aplicar_condiciones2, axis=1)
tab_cab_acta['VERIFICACION'] = tab_cab_acta.apply(aplicar_condiciones3, axis=1)

In [14]:
tab_cab_acta['DIGITALIZACION'].unique()

array(['NO TIENE IMAGEN'], dtype=object)

In [15]:
df_pivot_table = tab_cab_acta.pivot_table(index=['c_desc_ubigeo','c_numero','c_descripcion'], columns='DIGITALIZACION', aggfunc='size', fill_value=0)
df_pivot_table_reset = df_pivot_table.reset_index()

In [16]:
df_pivot_table_reset

DIGITALIZACION,c_desc_ubigeo,c_numero,c_descripcion,NO TIENE IMAGEN
0,CENATE-IETSI-CNRS,020101N,NACIONAL,1
1,INST. NACIONAL CARDIOVASCULAR,020201N,NACIONAL,1
2,INST. NACIONAL CARDIOVASCULAR,020202N,NACIONAL,1
3,RED ASISTENCIAL AMAZONAS,023301N,NACIONAL,1
4,RED ASISTENCIAL AMAZONAS,023301R,REGIONAL,1
...,...,...,...,...
206,SEDE CENTRAL,990006N,NACIONAL,1
207,SEDE CENTRAL,990007N,NACIONAL,1
208,SEDE CENTRAL,990008N,NACIONAL,1
209,SEDE CENTRAL,990009N,NACIONAL,1
210,SEDE CENTRAL,990010N,NACIONAL,1

In [17]:
# Función para obtener las opciones únicas de cada columna
def get_unique_options(df_pivot_table_reset, column_name):
    return [{'label': value, 'value': value} for value in df_pivot_table_reset[column_name].unique()]

RED = get_unique_options(df_pivot_table_reset, 'c_desc_ubigeo')
Tipo_eleccion= get_unique_options(df_pivot_table_reset, 'c_descripcion')
NUMERO_ACTA=get_unique_options(df_pivot_table_reset, 'c_numero')

df_pivot_table_reset=df_pivot_table_reset.rename(columns={'c_desc_ubigeo':'RED', 'c_descripcion':'TIPO DE ELECCION','c_numero':'NÚMERO DE ACTA'})

In [18]:
# Crear la aplicación Dash
external_stylesheets = [dbc.themes.BOOTSTRAP]
app = dash.Dash(__name__, external_stylesheets=external_stylesheets)

app.layout = dbc.Container([
    html.Div(style={'height': '12px'}),

    html.H1("Elecciones CAFAE 2024: Digitalización de actas", style={'color': '#0064AF', 'fontSize': '28px'}),
    html.H2("Fuente: CAFAE. Actualizado al 09/08/2024. Actualización diaria. Pendiente de validar. V.1.0.0", style={'color': '#0064AF', 'fontSize': '12px'}),
    html.Hr(style={'border': '1px solid #0064AF'}),

    dbc.Card(
        dbc.CardBody([
            dbc.Row([
                dbc.Col([
                    html.Label("RED", style={'font-size': '16px', 'color': '#0064AF'}),
                    dcc.Dropdown(
                        id='filter-red',
                        options=RED,
                        placeholder="Selecciona una RED",
                        style={'font-size': '14px', 'height': '40px'},
                        maxHeight=150,
                        optionHeight=45
                    ),
                ], width=4),

                dbc.Col([
                    html.Label("Tipo de elección", style={'font-size': '16px', 'color': '#0064AF'}),
                    dcc.Dropdown(
                        id='filter-tipo-eleccion',
                        options=Tipo_eleccion,
                        placeholder="Selecciona un tipo de elección",
                        style={'font-size': '14px', 'height': '40px'},
                        maxHeight=150,
                        optionHeight=45
                    ),
                ], width=4),

                dbc.Col([
                    html.Label("Número de acta", style={'font-size': '16px', 'color': '#0064AF'}),
                    dcc.Input(
                        id='filter-numero_acta',
                        type='text',
                        placeholder="Buscar número de acta",
                        style={'font-size': '14px', 'height': '40px', 'width': '100%'}
                    ),
                ], width=4),
            ]),

            html.Br(),

            dbc.Row([
                dbc.Col([
                    dash_table.DataTable(
                        id='table',
                        columns=[{"name": i, "id": i} for i in [
                            'RED', 'NÚMERO DE ACTA','NO TIENE IMAGEN', 'IMAGEN REGISTRADA','IMAGEN OBSERVADA'
                        ]],
                        style_table={
                            'overflowX': 'auto',
                            'border': 'thin lightgrey solid',
                            'fontFamily': 'Calibri',
                            'font-size': '12px',
                            'width': '100%',
                            'height': '100%'
                        },
                        style_cell={
                            'fontFamily': 'Calibri',
                            'height': 'auto',
                            'minWidth': '80px',
                            'width': '80px',
                            'maxWidth': '120px',
                            'whiteSpace': 'normal',
                            'color': '#606060',
                            'font-size': '14px',
                        },
                        style_header={
                            'backgroundColor': '#0064AF',
                            'color': 'white',
                            'fontWeight': 'bold',
                            'textAlign': 'center'
                        }, 
                        
                        style_data_conditional=[

                        {
                            'if': {'column_id': 'RED'},
                            'textAlign': 'left'
                        },

                          {
                            'if': {'column_id': 'NÚMERO DE ACTA'},
                            'textAlign': 'left'
                        },
                         {
                            'if': {'column_id': 'NO TIENE IMAGEN'},
                            'textAlign': 'center'
                        },
                             {
                            'if': {'column_id': 'IMAGEN REGISTRADA'},
                            'textAlign': 'center'
                        },
                         {
                            'if': {'column_id': 'IMAGEN OBSERVADA'},
                            'textAlign': 'center'
                        },
                    
                    
                        ],
                        fixed_rows={'headers': True},
                        sort_action='native',
                    )
                ], style={'padding-bottom': '0px', 'margin-bottom': '0px'})
            ], style={'padding-bottom': '0px', 'margin-bottom': '0px'})
        ]),
        style={'border': '1px solid #95D3E9', 'padding': '0px', 'border-radius': '5px', 'height': '700px', 'margin-bottom': '45px'}
    ),

    # Botón para descargar CSV
    html.Button("Descargar CSV", id="btn_csv", n_clicks=0, className="btn btn-primary"),
    dcc.Download(id="download-dataframe-csv"),

], fluid=True)

@app.callback(
    Output('table', 'data'),
    [
        Input('filter-red', 'value'),
        Input('filter-tipo-eleccion', 'value'),
        Input('filter-numero_acta', 'value')
    ]
)
def update_data(selected_red, selected_tipo_eleccion, search_numero_acta):
    filtered_df = df_pivot_table_reset
    
    if selected_red:
        filtered_df = filtered_df[filtered_df['RED'] == selected_red]
    if selected_tipo_eleccion:
        filtered_df = filtered_df[filtered_df['TIPO DE ELECCION'] == selected_tipo_eleccion]
    if search_numero_acta:
        filtered_df = filtered_df[filtered_df['Número de acta'].astype(str).str.contains(search_numero_acta)]

    return filtered_df.to_dict('records')

@app.callback(
    Output("download-dataframe-csv", "data"),
    Input("btn_csv", "n_clicks"),
    State('filter-red', 'value'),
    State('filter-tipo-eleccion', 'value'),
    State('filter-numero_acta', 'value'),
    prevent_initial_call=True,
)
def download_as_csv(n_clicks, selected_red, selected_tipo_eleccion, search_numero_acta):
    filtered_df = df_pivot_table_reset
    
    if selected_red:
        filtered_df = filtered_df[filtered_df['RED'] == selected_red]
    if selected_tipo_eleccion:
        filtered_df = filtered_df[filtered_df['TIPO DE ELECCION'] == selected_tipo_eleccion]
    if search_numero_acta:
        filtered_df = filtered_df[filtered_df['Número de acta'].astype(str).str.contains(search_numero_acta)]
    
    return dcc.send_data_frame(filtered_df.to_csv, "actas_report.csv", sep=';', index=False)

if __name__ == '__main__':
    app.run_server(debug=True)